@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Account panel</title>
</head>
<body>

    <h3>Success Page</h3>
       Hello
    <br>
    <a href="@Url.Action("Logout", "Account")">Logout</a>

</body>
</html>